---
---

@import "{{ site.theme }}";

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: circle;
}

h1 {
    color: #6AAED9;
    font-weight: 700;
}

h2 {
    color: #6AAED9;
    margin-top:40px;
}

a:link {
    color: #5FAAD9;
    font-weight: 400;
}

a:visited {
    color: #5FAAD9;
    font-weight: 400;
}

a:hover {
    color: #126DA6;
}

.LinkedIn {
    background-image: url("/assets/img/linkedin_grey.png");
    width: 24px;
    height: 24px;
    width: 24px;
    height: 24px;
}


.LinkedIn:hover {
    background-image: url("/assets/img/linkedin_blue.png");
    width: 24px;
    height: 24px;
}


.Xing {
    background-image: url("/assets/img/xing_grey.png");
    width: 24px;
    height: 24px;
}
.Xing:hover {
    background-image: url("/assets/img/xing_green.png");
    width: 24px;
    height: 24px;
}

.mark {
    background-color: #ACD7F2;
}


.wrapper {
    width: 1000px;
}

.header {
    width: 300px;
}

.section {
    width: 700px;
}
