---
---

@import "{{ site.theme }}";

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

ul{  list-style-type:circle;
}

/* unvisited link */
a:link {
  color: #5FAAD9;
    font-weight:400;
}

a:visited {
  color: #5FAAD9;
 font-weight:400;
}


/* mouse over link */
a:hover {
  color: #126DA6;
}
