---
---

@import "{{ site.theme }}";

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

ul{  list-style-type:circle;
}

/* unvisited link */
a:link {
  color: deepskyblue;
    font-weight:400;
}


/* mouse over link */
a:hover {
  color: darkorange;
}
