<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <title>Katja Vock </title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">

</head>

<body>
    <div class="wrapper">
        <header class="header">

            <h1>KATJA VOCK</h1>
            <!--<a href="https://katjavock.github.io/"></a>-->

            <img src="/assets/img/katjavock.jpg" alt="Profilpicture" />

            <p>
                <br> Motivated and curious <span class="mark">computer and information science student</span> with specialisation in <span class="mark">human computer interaction</span> and <span class="mark">data visualisation</span> with a history of working within <span class="mark">finance</span> and <span class="mark">e-commerce</span>. Having an  <span class="mark">analytical mindset</span> with a wide focus on user experience and aspiring to <span class="mark">gather work experience</span> in applied user research methodologies.
                <br>
                <br>
               <!-- <a href="https://www.linkedin.com/in/katja-vock-7b657366/" class="LinkedIn"><img src="/assets/img/linkedin_grey.png" alt="linkedin" height="24" width="24" /></a>-->
                
                <a href="https://www.linkedin.com/in/katja-vock-7b657366/"><img src="this.src='/assets/img/linkedin_grey.png'" onmouseover="this.src='/assets/img/linkedin_blue.png'" onmouseout="this.src='/assets/img/linkedin_grey.png'" border="0" alt=""/></a>
                
                <a href="https://www.xing.com/profile/Katja_Vock/cv" class="Xing"> XING </a>
                <br>
            </p>
        </header>
        <section class="section">

            {{ content }}

        </section>
        <!--<footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>-->
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');

    </script>
    {% endif %}
</body>

</html>
